basePath: /api/v1
definitions:
  handler.ChartRankingResponse:
    properties:
      beatmap_id:
        type: string
      play_count:
        type: integer
      player_count:
        type: integer
      top:
        items:
          $ref: '#/definitions/handler.RankingEntryResponse'
        type: array
    type: object
  handler.ErrorResponse:
    properties:
      message:
        type: string
    type: object
  handler.GetUserResponse:
    properties:
      id:
        type: string
      name:
        type: string
    type: object
  handler.RankingEntryResponse:
    properties:
      player_name:
        type: string
      score:
        type: integer
      user_id:
        type: string
    type: object
  handler.RegisterUserResponse:
    properties:
      id:
        type: string
    type: object
  handler.SubmitScoreRequest:
    properties:
      beatmap_id:
        type: string
      good_fast:
        type: integer
      good_late:
        type: integer
      input:
        type: integer
      max_combo:
        type: integer
      miss:
        type: integer
      perfect_critical_fast:
        type: integer
      perfect_critical_late:
        type: integer
      perfect_fast:
        type: integer
      perfect_late:
        type: integer
      score:
        type: integer
      user_id:
        type: string
    type: object
  handler.SubmitScoreResponse:
    properties:
      id:
        type: integer
    type: object
  handler.UpdateUserNameResponse:
    properties:
      status:
        type: string
    type: object
  handler.UpsertChartRequest:
    properties:
      beatmap_id:
        type: string
      difficulty:
        type: integer
      parallel_string:
        type: string
      song_name:
        type: string
    type: object
  handler.UpsertChartResponse:
    properties:
      status:
        type: string
    type: object
  handler.UserStatsResponse:
    properties:
      average_score:
        type: number
      best_score:
        type: integer
      distinct_charts:
        type: integer
      total_plays:
        type: integer
    type: object
  handler.updateUserNameRequest:
    properties:
      user_id:
        type: string
      user_name:
        type: string
    type: object
host: senirenol.trap.games
info:
  contact:
    email: support@example.com
    name: API Support
    url: https://github.com/pikachu0310/go-backend-template
  description: バックエンドテンプレートのAPI仕様書です。
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Go Backend Template API
  version: "1.0"
paths:
  /charts:
    post:
      consumes:
      - application/json
      parameters:
      - description: 譜面情報
        in: body
        name: chart
        required: true
        schema:
          $ref: '#/definitions/handler.UpsertChartRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 登録結果
          schema:
            $ref: '#/definitions/handler.UpsertChartResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: 譜面登録/更新
      tags:
      - charts
  /charts/ranking:
    get:
      description: beatmap_idを指定したランキング、未指定時は全譜面のランキング
      parameters:
      - description: 譜面ID
        in: query
        name: beatmap_id
        type: string
      - description: ランキング上限
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: ランキング配列
          schema:
            items:
              $ref: '#/definitions/handler.ChartRankingResponse'
            type: array
      summary: 譜面ランキング
      tags:
      - charts
  /ping:
    get:
      consumes:
      - application/json
      description: サーバーの死活確認用エンドポイント
      produces:
      - text/plain
      responses:
        "200":
          description: pong
          schema:
            type: string
      summary: Ping API
      tags:
      - ping
  /scores:
    post:
      consumes:
      - application/json
      description: プレイ結果を登録します
      parameters:
      - description: スコア情報
        in: body
        name: score
        required: true
        schema:
          $ref: '#/definitions/handler.SubmitScoreRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 登録されたスコアのID
          schema:
            $ref: '#/definitions/handler.SubmitScoreResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: スコア登録
      tags:
      - scores
  /songs/playcount:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              additionalProperties: true
              type: object
            type: array
      summary: 楽曲プレイ回数ランキング
      tags:
      - charts
  /users:
    post:
      consumes:
      - application/json
      description: 初回起動時に匿名ユーザーを生成し、user_idを返します
      produces:
      - application/json
      responses:
        "200":
          description: 登録されたユーザーのID
          schema:
            $ref: '#/definitions/handler.RegisterUserResponse'
      summary: ユーザー登録
      tags:
      - users
  /users/{userID}:
    get:
      consumes:
      - application/json
      description: 指定したIDのユーザー情報を取得します（名前のみ）
      parameters:
      - description: User ID
        format: uuid
        in: path
        name: userID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ユーザー情報
          schema:
            $ref: '#/definitions/handler.GetUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: ユーザー情報取得
      tags:
      - users
  /users/{userID}/stats:
    get:
      description: プレイ回数など統計情報を返します
      parameters:
      - description: User ID
        format: uuid
        in: path
        name: userID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 統計情報
          schema:
            $ref: '#/definitions/handler.UserStatsResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: ユーザー統計
      tags:
      - users
  /users/update:
    post:
      consumes:
      - application/json
      description: user_idに対してuser_nameを更新します
      parameters:
      - description: 更新内容
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/handler.updateUserNameRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 更新結果
          schema:
            $ref: '#/definitions/handler.UpdateUserNameResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorResponse'
      summary: ユーザー名更新
      tags:
      - users
schemes:
- https
swagger: "2.0"
